:root {
  --main-color: #ffffff;
  --scnd-color: #ffdc2db4;
  --text-color: #320b46d2;
}

body {
  background-color: var(--main-color);
  font-family: 'Oswald', sans-serif;
}

#main {
  max-width: 70%;
  margin: auto;
  padding: 15px;
  color: var(--text-color);
}

#title,
#description {
  text-align: center;
}

#description-form {
  background-color: var(--scnd-color);
  padding-top: 15px;
  min-width: 300px;
}

form {
  padding: 15px 15px 15px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

label {
  text-align: end
}

.form-field {
  padding: 7px 0 7px 0;
  width: 200px;
}

#radio-label {
  grid-area: 5/1/8/2;
  /* border-style: dashed; */
  align-self: center;
}

#checkbox-question {
  grid-area: 8/1/11/2;
  align-self: center;
  /* border-style: dashed; */
}

#comment-label {
  align-self: center;
}

#submit {
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
  background-color: var(--text-color);
  border: 1px solid rgba(181, 64, 228, 0.74);
  border-radius: 3px;
  font: 'Oswald',
  sans-serif;
  text-transform: uppercase;
  width: 120px;
  display: inline-block;
  margin: auto;
  padding: 9px 0 9px 0;
}
#submit:hover {
  background-color: #5a336d;
}