:root {
  --main-color: #ffa82d;
  --scnd-color: #ffdc2d;
  --text-color: #551575;
}
body {
  background-color: var(--main-color);
}

#main {
  background-color: var(--scnd-color);
  max-width:50%;
  margin: auto;
  padding: 15px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-template-rows: repeat(auto-fit, 1fr);
}

h1 {
  text-align: center;
}